name: Tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

env:
    CUDA_VISIBLE_DEVICES: ""
    PYTORCH_ENABLE_MPS_FALLBACK: "1"  # prevents CUDA crash on macOS too
    TORCH_CUDA_ARCH_LIST: "Off"
    WANDB_MODE: offline

jobs:
    installation:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
                python: ["3.11", "3.12", "3.13"]

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python }}

            - name: Test installation
              run: pip install "git+https://github.com/lewiswolf/kac_prediction.git"

    all-tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                # os: [macos-latest, ubuntu-latest, windows-latest]
                os: [macos-latest, ubuntu-latest]
                python: ["3.11", "3.12", "3.13"]

        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python }}
            - uses: actions/cache@v4
              id: cache-pipenv
              with:
                  path: ~/.local/share/virtualenvs
                  key: ${{ runner.os }}-python-${{ steps.setup-python.outputs.python-version }}-pipenv-${{ hashFiles('Pipfile.lock') }}

            - name: Install pipenv
              run: |
                python -m pip install --upgrade pip pipenv setuptools wheel

            - name: Install python dependencies
              run: |
                pipenv install -d --python ${{ matrix.python }}
                if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
                  pipenv run pip install torch --index-url https://download.pytorch.org/whl/cpu
                  pipenv run pip install torchaudio -f https://download.pytorch.org/whl/cpu
                fi

            - name: Lint project
              run: |
                if [ "${{ matrix.python }}" = "3.11" ]; then
                  pipenv run flake8 --config=test/test.cfg
                else
                  pipenv run flake8 --config=test/test.cfg --extend-ignore=Q000
                fi

            - name: Assert types
              run: pipenv run mypy --config-file=test/test.cfg

            - name: Run unit tests
              run: pipenv run python test/test.py
